ul a:hover{
  background-color: blueviolet;
}
hr {
  border: 10px solid purple;
}
main{
  margin-top: 80px;
}
#chart_streamed{
  background-color: black ;
}
#chart_watched{
   background-color: black ;
}
.fa {
  padding: 20px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 30%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.card{
  color: white;
}
section .card .card-img-top {
  height: 200px;
  width:200px;
  padding: 3px ;
  background: #6441a5;
  align-self: center;
}

.card .btn{
  color: white;
  background-color: #6441a5;
}
li{
  color: white;

}
#demo{
  margin: 20px 100px;
}
